{% extends 'homepage.html' %}
{% block content %}

<h1>All Products of Retailer</h1>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if products %}
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.product_category }}</td>
            <td>{{ product.product_brand }}</td>
            <td>{{ product.product_description }}</td>
            <td>${{ product.product_price }}</td>
            <td>
                {% if product.product_id %}
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">No products found.</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}
