{% extends 'homepage.html' %}
{% block content %}

<main class="form-signin w-100 m-auto">
    <form method="post">
        {% csrf_token %}
        <h1 style="align-self: center;">CartSquad Customer</h1>
        <h2 class="h3 mb-3 fw-normal">Please sign in</h2>

        <!-- Render each form field within the div with class "form-floating" -->
        {% for field in retailer_login_form %}
        <div class="form-floating">
            <p>{{ field }}</p>
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        </div>
        {% endfor %}

        <!-- Render field errors -->
        {% for field in retailer_login_form %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <!-- Render non-field errors -->
        {% if retailer_login_form.non_field_errors %}
        <div style="color: red;">
            <p>{{ retailer_login_form.non_field_errors }}</p>
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</main>

{% endblock %}
