{% include 'snippets/header.html' %}
{% block content %}
<style>
    @media (min-width: 768px) {
    .col-md-6 { 
        flex: 0 0 auto;
        width: 100%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 10%;
}

.card {
    padding: 20px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.form-group label {
    width: 30%;
    text-align: right;
    margin-right: 10px;
}

.form-group input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.register {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.checkbox-field input {
    width: auto;
}
</style>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="card  shadow"> <!-- Increased margin-top from "mt-5" to "mt-4" -->
                <div class="card-body">
                    
                    <h2 class="h3 mb-4 fw-normal text-center">Retailer Sign In - Please sign in</h2>
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        <!-- Render each form field with Bootstrap styling -->
                        {% for field in retailer_login_form %}
                        <div class="form-group mb-3">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" autocomplete="off">

                        </div>
                        {% endfor %}

                        <!-- Render field errors -->
                        {% for field in retailer_login_form %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                        <!-- Render non-field errors -->
                        {% if retailer_login_form.non_field_errors %}
                        <div style="color: red;">
                            <p>{{ retailer_login_form.non_field_errors }}</p>
                        </div>
                        {% endif %}
                        <div class="text-center mt-4">
                            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include 'snippets/footer.html' %}
