{% include 'snippets/header.html' %}
{% block content %}
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f8fa;
}

h2 {
    color: #24292e;
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul a {
    display: block;
    color: #586069;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

ul a:hover {
    background-color: #ddd;
    color: #24292e;
}

p {
    margin-left: 10px;
}

p:last-child {
    margin-bottom: 10px;
}

</style>
<h2>Order History</h2>

{% if orders %}
    <ul>
        {% for order in orders %}
           <a href="{% url 'orders:view_order' order_id=order.order_id %}">Order ID: {{ order.order_id }}</a>
              <p>Order Date: {{ order.order_date_created }}</p>
                <p>Order Status: {{ order.status }}</p>
                <p>Order Total: {{ order.order_total }}</p>
        {% endfor %}
    </ul>
{% else %}
    <p>Your shopping history is empty!</p>
{% endif %}

{% endblock %}
{% include 'snippets/footer.html' %}


