{% include 'snippets/header.html' %}
{% block content %}

<body>
    <h1>Your Cart</h1>
    
    {% if cart_data %}
    <table class="cart-table" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Product Name</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Product Price</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Quantity</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Total Price</th>
                <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_data %}
            <tr>
                <td style="border: 1px solid #ddd; padding: 8px;">{{ item.product_name }}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">${{ item.product_price }}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">
                    <form method="post" action="{% url 'cart:update_quantity' product_id=item.product_id %}">
                        {% csrf_token %}
                        <input type="number" id="quantity" name="quantity" value="{{ item.quantity }}" min="1"
                            style="width: 50px;">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </td>
                <td style="border: 1px solid #ddd; padding: 8px;">${{ item.total_price }}</td>
                <td style="border: 1px solid #ddd; padding: 8px;">
                    <a href="{% url 'cart:remove_from_cart' product_id=item.product_id %}">
                        <button type="button" class="btn btn-danger">Remove</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% if cart_data %}
        <h3>Total Cart Value: ${{ cart_total }}</h3> <br>
    {% endif %}
    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <a href="{% url 'homepage' %}" class="button"
            style="text-decoration: none; padding: 10px 20px; background-color: #4CAF50; color: white; border-radius: 5px; margin-right: 10px;">Browse
            more items</a>
        <a href="{% url 'orders:checkout' %}" class="button"
            style="text-decoration: none; padding: 10px 20px; background-color: #008CBA; color: white; border-radius: 5px;">Proceed
            to Checkout</a>
        <a href = "{% url 'cart:shared_carts' %}" class="button"
            style="text-decoration: none; padding: 10px 20px; background-color: #3649f4; color: white; border-radius: 5px; margin-left: 10px;">View Shared Carts
        </a>
    </div>
</body>

{% endblock %}
{% include 'snippets/footer.html' %}