{% include 'snippets/header.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4">Customer Registration Page</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ customer_registration_form.as_p }}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include 'snippets/footer.html' %}
